{% extends "layout.html" %}
{% block content %}
    <div class="container mt-3 p-1">
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="mr-1">
                    {{ form.by_category.label_tag }}
                </div>
                <div class="mr-1">
                    {{ form.by_category }}
                </div>
                <div class="mr-1">
                    {{ form.by_group.label_tag }}
                </div>
                <div class="mr-1">
                    {{ form.by_group }}
                </div>
                <div class="mr-1">
                    {{ form.by_price_Lower.label_tag }}
                </div>
                <div class="mr-1">
                    {{ form.by_price_Lower }}
                </div>
                <div class="mr-1">
                    {{ form.by_price_Upper.label_tag }}
                </div>
                <div class="mr-1">
                    {{ form.by_price_Upper }}
                </div>
                <input type="submit" value="Filter" class="btn btn-primary ml-2">
            </div>
        </form>
    </div>
    {% ifnotequal search_prompt '' %}
        <p class="text-center">Results for: {{ search_prompt }}</p>
    {% endifnotequal %}
    <div class="container">
        {% for products in three_page_group %}
            <div class="card-group">
                {% for product in products %}
                    {% if product %}
                        <div class="card">
                            {% csrf_token %}
                            <img class="card-img-top" src="{{ product.images.0.url }}" alt="Card image cap"
                                 style="height: 18rem; object-fit: scale-down">
                            <div class="card-body bg-secondary text-light">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text max-lines">{{ product.description }}</p>
                                <br>
                                <p class="card-text">{{ product.price }}€</p>
                                <a href="/products/{{ product.id }}" class="btn btn-primary">Visit Page</a>
                                <a href="/products/{{ product.id }}" class="btn btn-primary">Add to Cart</a>
                                {% if user.0.admin %}
                                    {% if product.hidden %}
                                        <form action="/unhidepage/" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-dark" style="margin-top: 1em" type="submit"
                                                    value="{{ page.id }}" name="delete-page">Un-Hide Page
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action="/hidepage/" method="post">
                                            {% csrf_token %}
                                            <button class="btn btn-dark" style="margin-top: 1em" type="submit"
                                                    value="{{ product.id }}" name="delete-page">Hide Page
                                            </button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="card" style="visibility: hidden"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}